html, body {
    height:100%;

}

body {
    font-family: 'Open Sans', sans-serif;
}

.flex-fill {
    flex:1 1 auto;
}
 
.bg-blend {
    background-image: url(../images/ocean1.jpg);
    background-color: red;
    background-blend-mode: multiply;
}

.navbar-brand {
    font-size: 36px;
    font-family: 'Abril Fatface', Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration-line: none;
    padding: 30px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

.wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -105px;
  }

.body-content {
    background-color: white;
    margin-top: 180px;
}

h2 {
    font-size: 30px;
    font-family: 'Abril Fatface', Arial, Helvetica, sans-serif;
    padding: 15px 0;
}

.row {
    margin: 0 10px;
    padding-bottom: 20px;
}

.row:first-child {
    padding-top: 20px;
}

.content {
    padding-bottom: 20px; 
    margin-bottom: 150px;
}

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: darkred;
    border-top: 8px solid black;
  }

footer,
.push {
  height: 105px;
}

.legal {
    color: black;
    padding: 50px;
    text-align: center;
}

.profile-pic {
    width: 100%;
    margin-bottom: 20px;
}

/* start profile css */

.card {
    margin-bottom: 25px;
}

.card-img-overlay {
    color: white;
    background-color: black;
    font-size: 26px;
    line-height: 20px;
    font-family: 'Abril Fatface', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 0px 10px 0px;
    position: relative;
    width: 100%;
}


/* end profile css */